/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NUMORPHINTENSITY' {
        publishDir = [
            path: { "${params.outdir}/intensity/samples" },
            mode: params.publish_dir_mode,
            pattern: 'results/samples/intensity_adjustment/*',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            path: { "${params.outdir}/intensity/variables" },
            mode: params.publish_dir_mode,
            pattern: 'results/variables/*',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            path: { "${params.outdir}/intensity/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }

        ]

    }

    withName: 'NUMORPHALIGN' {
        publishDir = [
            path: { "${params.outdir}/alignment/samples" },
            mode: params.publish_dir_mode,
            pattern: 'results/samples/alignment/*',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            path: { "${params.outdir}/alignment/variables" },
            mode: params.publish_dir_mode,
            pattern: 'results/variables/*',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            path: { "${params.outdir}/alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        
    }

    withName: 'NUMORPHSTITCH' {
        
        publishDir = [
            path: { "${params.outdir}/stitching/variables" },
            mode: params.publish_dir_mode,
            pattern: 'results/variables/*',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            path: { "${params.outdir}/stitching/stitched" },
            mode: params.publish_dir_mode,
            pattern: 'results/stitched/*',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        publishDir = [
            path: { "${params.outdir}/stitching/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        
    }

    

    



}
