/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    /*
    withName: 'MAT2JSON' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mat2json" },
            mode: params.publish_dir_mode
        ]
    }
    */

    withName: 'NUMORPHINTENSITY' {
        publishDir = [
            path: { "${params.outdir}/numorphintensity/" },
            mode: params.publish_dir_mode,
            pattern: 'results/**/*',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                } else {
                    filename.replaceFirst("^results/", "${meta.id}/")
                }
            }
        ]
    }

    withName: 'NUMORPHALIGN' {
        publishDir = [
            path: { "${params.outdir}/numorphalign/" },
            mode: params.publish_dir_mode,
            pattern: 'results/**/*',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                } else {
                    filename.replaceFirst("^results/", "${meta.id}/")
                }
            }
        ]
    }

    withName: 'NUMORPHSTITCH' {
        publishDir = [
            path: { "${params.outdir}/numorphstitch/" },
            mode: params.publish_dir_mode,
            pattern: 'results/**/*',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                } else {
                    filename.replaceFirst("^results/", "${meta.id}/")
                }
            }
        ]
    }

    withName: 'NUMORPHRESAMPLE' {
        publishDir = [
            path: { "${params.outdir}/numorphresample/" },
            mode: params.publish_dir_mode,
            pattern: 'results/**/*',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                } else {
                    filename.replaceFirst("^results/", "${meta.id}/")
                }
            }
        ]
    }
    withName: 'NUMORPHREGISTER' {
        publishDir = [
            path: { "${params.outdir}/numorphregister/" },
            mode: params.publish_dir_mode,
            pattern: 'results/**/*',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                } else {
                    filename.replaceFirst("^results/", "${meta.id}/")
                }
            }
        ]
    }
    withName: 'NUMORPH3DUNET' {
        publishDir = [
            path: { "${params.outdir}/numorph3dunet/" },
            mode: params.publish_dir_mode,
            pattern: 'results/*',
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    null
                }
                else {
                    filename.replaceFirst("^results/", "${meta.id}/")
                }
            }
        ]
    }

}
