/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/lsmquant -profile test_gpu,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]

    withLabel: process_gpu {
        ext.use_gpu = true
        accelerator = 1
    //    containerOptions = { workflow.containerEngine == 'docker' ? '--gpus all' : '--nv' }
        memory = { 15.GB * task.attempt }
    }
}

params {
    config_profile_name        = 'Test profile GPU'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Define the input data
    input  = params.pipelines_testdata_base_path + '/test_data/samplesheets/sample_sheet.csv'
    stage  = 'full'
}
